<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product List</h4>
                <h6>Manage your products</h6>
            </div>
            <div class="page-btn">
                <a href="#/san-pham/new" class="btn btn-added"><img src="../assets/img/icons/plus.svg" alt="img"
                        class="me-1">Add New Product</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="../assets/img/icons/filter.svg" alt="img">
                                <span><img src="../assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                       
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                    data-bs-original-title="pdf" aria-label="pdf"><img src="../assets/img/icons/pdf.svg"
                                        alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                    data-bs-original-title="excel" aria-label="excel"><img
                                        src="../assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                    data-bs-original-title="print" aria-label="print"><img
                                        src="../assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select select2-hidden-accessible" data-select2-id="1"
                                                tabindex="-1" aria-hidden="true">
                                                <option data-select2-id="3">Choose Product</option>
                                                <option>Macbook pro</option>
                                                <option>Orange</option>
                                            </select><span class="select2 select2-container select2-container--default"
                                                dir="ltr" data-select2-id="2" style="width: 100%;"><span
                                                    class="selection"><span
                                                        class="select2-selection select2-selection--single"
                                                        role="combobox" aria-haspopup="true" aria-expanded="false"
                                                        tabindex="0" aria-disabled="false"
                                                        aria-labelledby="select2-6hey-container"><span
                                                            class="select2-selection__rendered"
                                                            id="select2-6hey-container" role="textbox"
                                                            aria-readonly="true" title="Choose Product">Choose
                                                            Product</span><span class="select2-selection__arrow"
                                                            role="presentation"><b
                                                                role="presentation"></b></span></span></span><span
                                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select select2-hidden-accessible" data-select2-id="4"
                                                tabindex="-1" aria-hidden="true">
                                                <option data-select2-id="6">Choose Category</option>
                                                <option>Computers</option>
                                                <option>Fruits</option>
                                            </select><span class="select2 select2-container select2-container--default"
                                                dir="ltr" data-select2-id="5" style="width: 100%;"><span
                                                    class="selection"><span
                                                        class="select2-selection select2-selection--single"
                                                        role="combobox" aria-haspopup="true" aria-expanded="false"
                                                        tabindex="0" aria-disabled="false"
                                                        aria-labelledby="select2-52m0-container"><span
                                                            class="select2-selection__rendered"
                                                            id="select2-52m0-container" role="textbox"
                                                            aria-readonly="true" title="Choose Category">Choose
                                                            Category</span><span class="select2-selection__arrow"
                                                            role="presentation"><b
                                                                role="presentation"></b></span></span></span><span
                                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select select2-hidden-accessible" data-select2-id="7"
                                                tabindex="-1" aria-hidden="true">
                                                <option data-select2-id="9">Choose Sub Category</option>
                                                <option>Computer</option>
                                            </select><span class="select2 select2-container select2-container--default"
                                                dir="ltr" data-select2-id="8" style="width: 100%;"><span
                                                    class="selection"><span
                                                        class="select2-selection select2-selection--single"
                                                        role="combobox" aria-haspopup="true" aria-expanded="false"
                                                        tabindex="0" aria-disabled="false"
                                                        aria-labelledby="select2-tn8e-container"><span
                                                            class="select2-selection__rendered"
                                                            id="select2-tn8e-container" role="textbox"
                                                            aria-readonly="true" title="Choose Sub Category">Choose Sub
                                                            Category</span><span class="select2-selection__arrow"
                                                            role="presentation"><b
                                                                role="presentation"></b></span></span></span><span
                                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select select2-hidden-accessible" data-select2-id="10"
                                                tabindex="-1" aria-hidden="true">
                                                <option data-select2-id="12">Brand</option>
                                                <option>N/D</option>
                                            </select><span class="select2 select2-container select2-container--default"
                                                dir="ltr" data-select2-id="11" style="width: 100%;"><span
                                                    class="selection"><span
                                                        class="select2-selection select2-selection--single"
                                                        role="combobox" aria-haspopup="true" aria-expanded="false"
                                                        tabindex="0" aria-disabled="false"
                                                        aria-labelledby="select2-ss1c-container"><span
                                                            class="select2-selection__rendered"
                                                            id="select2-ss1c-container" role="textbox"
                                                            aria-readonly="true" title="Brand">Brand</span><span
                                                            class="select2-selection__arrow" role="presentation"><b
                                                                role="presentation"></b></span></span></span><span
                                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12 ">
                                        <div class="form-group">
                                            <select class="select select2-hidden-accessible" data-select2-id="13"
                                                tabindex="-1" aria-hidden="true">
                                                <option data-select2-id="15">Price</option>
                                                <option>150.00</option>
                                            </select><span class="select2 select2-container select2-container--default"
                                                dir="ltr" data-select2-id="14" style="width: 100%;"><span
                                                    class="selection"><span
                                                        class="select2-selection select2-selection--single"
                                                        role="combobox" aria-haspopup="true" aria-expanded="false"
                                                        tabindex="0" aria-disabled="false"
                                                        aria-labelledby="select2-nj2o-container"><span
                                                            class="select2-selection__rendered"
                                                            id="select2-nj2o-container" role="textbox"
                                                            aria-readonly="true" title="Price">Price</span><span
                                                            class="select2-selection__arrow" role="presentation"><b
                                                                role="presentation"></b></span></span></span><span
                                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-6 col-12">
                                        <div class="form-group">
                                            <a class="btn btn-filters ms-auto"><img
                                                    src="../assets/img/icons/search-whites.svg" alt="img"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew table_product" id="table_product">
                        <thead>
                            <tr >
                                <th >
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Mã</th>
                                <th>Tên</th>  
                                <th>Loại </th>
                                <th>Giá Nhập</th>
                                <th>Giá Niêm Yết</th>
                                <th>Giá Bán</th>
                                <th>Qty</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro in lstProduct">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td>{{pro.code}}</td>

                                <td class="productimgname">
                                    <a href="javascript:void(0);" class="product-img">
                                        <img  ng-src="{{pro.avatar[0]}}" alt="{{pro.avatar[0]}}">
                                    </a>
                                    <a href="javascript:void(0);">{{pro.name}}</a>
                                </td>
                                <td>{{pro.category[0]}}</td>
                                <td>{{pro.capitalPrice}}</td>
                                <td>{{pro.listedPrice}}</td>
                                <td>{{pro.price}}</td>
                                <td>{{pro.quantity}}</td>                 
                                <td>Admin</td>
                                <td>
                                    <a class="me-3" href="#/san-pham/{{pro.id}}">
                                        <img src="../../assets/img/icons/eye.svg" alt="img">
                                    </a>
                                    <a class="me-3" href="#/san-pham/{{pro.id}}">
                                        <img src="../../assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="confirm-text" href="javascript:void(0);" ng-click="deleteProduct(pro.id)">
                                        <img src="../../assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>