<header ng-controller="MenuController">
    <div class="header_logo">
        <img src="image/Rectangle 38.png" alt="">
    </div>
    <div class="header_menu">
        <ul class="menu">
            <li ng-class="{ 'active': isActive('/') }"><a ng-href="#/">Trang chủ</a></li>
            <li ng-class="{ 'active': isActive('/ve-chung-toi') }"><a ng-href="#/ve-chung-toi">Về chúng tôi</a></li>    
            <li class="menu_child" ng-class="{ 'active': isActive('/san-pham-hot') || isActive('/gao-nuong') || isActive('/com-ngon') || isActive('/dac-san')   }">
                <a ng-href="#/san-pham-hot">Sản phẩm</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="menu_child-ul">
                    <li class="menu_child-li" ><a ng-href="#/san-pham-hot">Sản phẩm hot</a></li>
                    <li class="menu_child-li" ><a ng-href="#/gao-nuong">Gạo nương</a></li>
                    <li class="menu_child-li" ><a ng-href="#/com-ngon">Cơm ngon</a</li>
                    <li class="menu_child-li" ><a ng-href="#/dac-san">Đặc sản</a></li>
                </ul>
            </li>
            <li class="menu_child"  ng-class="{ 'active': isActive('/vi-sao-chon-chung-toi') || isActive('/chinh-sach-phan-phoi') || isActive('/he-thong-cua-hang') || isActive('/dac-san')   }" ><a ng-href="#/dang-ky-dai-ly" >Hệ thống cửa hàng</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="menu_child-ul">
                    <li class="menu_child-li" ><a ng-href="#/vi-sao-chon-chung-toi">Vì sao chon chúng tôi</a></li>
                    <li class="menu_child-li" ><a ng-href="#/chinh-sach-phan-phoi">Chính sách phân phối</a></li>
                    <li class="menu_child-li" ><a ng-href="#/he-thong-cua-hang">Hệ thống cửa hàng</a</li>
                    <li class="menu_child-li" ><a ng-href="#/dang-ky-dai-ly">Đăng ký đại lý</a></li>
                </ul>
            </li>
            <li class="menu_child "  ng-class="{ 'active': isActive('/loi-the-mo-hinh') || isActive('/goi-hop-tac') || isActive('/quy-trinh-hop-tac') || isActive('/dang-ky-dai-hop-tac')  || isActive('/dang-ky-dai-hop-tac') }"><a ng-href="#/mot-so-hinh-anh">Cơm Ngon</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="menu_child-ul" style="width: 120%;">
                    <li class="menu_child-li" ><a ng-href="#/loi-the-mo-hinh">Lợi thế mô hình</a>
                    </li>
                    <li class="menu_child-li"><a ng-href="#/goi-hop-tac">Gói hợp tác</a></li>
                    <li class="menu_child-li"><a ng-href="#/quy-trinh-hop-tac">Quy trình hợp tác</a></li>
                    <li class="menu_child-li"><a ng-href="#/dang-ky-dai-hop-tac">Đăng ký đại hợp tác</a></li>
                    <li class="menu_child-li"><a ng-href="#/mot-so-hinh-anh">Một số hình ảnh</a></li>
                </ul>
            </li>
            <li ng-class="{ 'active': isActive('/tin-tuc') }"><a ng-href="#/tin-tuc">Tin tức</a></li>
            <li ng-class="{ 'active': isActive('/lien-he') }"><a ng-href="#/lien-he">Liên hệ</a></li>
        </ul>
    </div>
    <div class="header_language">
        <div class="language_btn">
            <i class="fa-solid fa-list-ul"></i>
            <span>Ngôn Ngữ</span>
        </div>
    </div>
    <div class="container_menu">
        <div class="menu_mobile">
            <label for="menu_mobile">
                <div class="menu_mobile-btn">
                    <div class="mobile_btn-icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <div>
                        <span>Menu</span>
                    </div>
                </div>
            </label>
            <input type="checkbox" class="menu_mobile-input" id="menu_mobile">
            <nav class="nav_menu-mobile">

                <div class="menu_mobile-close">
                    <label for="menu_mobile" class="menu_mobile-closelaber">
                    <i class="fa-solid fa-xmark"></i>
                    </label>
                </div>
                <ul class="menu_mobile-list">
                    <li ng-class="{ 'ativice_mobile': isActive('/') }"><a ng-href="#/" class="menu_mobile-link">Trang chủ</a></li>
                    <li ng-class="{ 'ativice_mobile': isActive('/ve-chung-toi') }"><a ng-href="#/ve-chung-toi" class="menu_mobile-link">Về chúng tôi</a></li>
                    <li class="menu_mobile-child"  ng-class="{ 'ativice_mobile': isActive('/san-pham-hot') || isActive('/gao-nuong') || isActive('/com-ngon') || isActive('/dac-san')   }"  ng-click="showChildMenusp = !showChildMenusp" ><a class="menu_mobile-link">Sản phẩm</a>
                        <ul class="menu_child-list" ng-show="showChildMenusp">
                            <li><a ng-href="#/san-pham-hot">Sản phẩm hot</a></li>
                            <li><a ng-href="#/gao-nuong">Gạo nương</a></li>
                            <li><a ng-href="#/com-ngon">Cơm ngon</a></li>
                            <li><a ng-href="#/dac-san">Đặc sản</a></li>
                        </ul>
                    </li>
                    <li  class="menu_mobile-child" ng-click="showChildMenuhtct = !showChildMenuhtct" ng-class="{ 'ativice_mobile': isActive('/vi-sao-chon-chung-toi') || isActive('/chinh-sach-phan-phoi') || isActive('/he-thong-cua-hang') || isActive('/dac-san')   }"><a  class="menu_mobile-link">Hệ thống cửa hàng</a>
                        <ul class="menu_child-list"ng-show="showChildMenuhtct">
                            <li ><a ng-href="#/vi-sao-chon-chung-toi">Vì sao chon chúng tôi</a></li>
                            <li ><a ng-href="#/chinh-sach-phan-phoi">Chính sách phân phối</a></li>
                            <li ><a ng-href="#/he-thong-cua-hang">Hệ thống cửa hàng</a></li>
                            <li ><a ng-href="#/dang-ky-dai-ly">Đăng ký đại lý</a></li>
                        </ul>
                    </li>
                    <li  class="menu_mobile-child" ng-click="showChildMenucn = !showChildMenucn" ng-class="{ 'ativice_mobile': isActive('/loi-the-mo-hinh') || isActive('/goi-hop-tac') || isActive('/quy-trinh-hop-tac') || isActive('/dang-ky-dai-hop-tac')  || isActive('/dang-ky-dai-hop-tac') }"><a class="menu_mobile-link">Cơm ngon</a>
                        <ul class="menu_child-list" ng-show="showChildMenucn">
                            <li><a ng-href="#/goi-hop-tac">Gói hợp tác</a></li>
                            <li><a ng-href="#/quy-trinh-hop-tac">Quy trình hợp tác</a></li>
                            <li><a ng-href="#/dang-ky-dai-hop-tac">Đăng ký đại hợp tác</a></li>
                            <li><a ng-href="#/mot-so-hinh-anh">Một số hình ảnh</a></li>
                        </ul>
                    </li>
                    <li ng-class="{ 'ativice_mobile': isActive('/tin-tuc') }"><a ng-href="#/tin-tuc" class="menu_mobile-link">Tin tức</a></li>
                    <li ng-class="{ 'ativice_mobile': isActive('/lien-he') }"><a ng-href="#/lien-he" class="menu_mobile-link">Liên hệ</a></li>
                </ul>
            </nav>
        </div>


    </div>
</header>

<script src="js/main.js"></script>