
        <div class="banner_color row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1>
                    <input style="color: aliceblue;" type="text" ng-model="lstText.shopSystem.distribution.text1" class="transparent-input">
                </h1>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 banner_color-img">
                <img src="../../image/365f2abea1616882a8b98404994fceba.jpg" alt="">
            </div>
        </div>

        <div class="box_content-reason containers">
            <div class="content_reason-left">
                <h1>
                    <input  type="text" ng-model="lstText.shopSystem.distribution.text2" class="transparent-input">
                </h1>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text3" class="transparent-input"></textarea>

                
                </p>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text4" class="transparent-input"></textarea>
                </p>

                <div class="intro_img intro_img_backgroud">
                    <img src="../../image/99fd46c103918a224efab400f949d2db.jpg" alt=""
                        style="max-width: none; max-height: 400px;">
                    <span>Image caption goes here</span>
                </div>

                <h2>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text5" class="transparent-input"></textarea>
                </h2>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text6" class="transparent-input"></textarea>
                </p>

                <div class="intro_dec">
                    <p>
                        <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text7" class="transparent-input"></textarea>
                    </p>
                </div>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text8" class="transparent-input"></textarea>
                </p>


                <h1>
                    <input  type="text" ng-model="lstText.shopSystem.distribution.text9" class="transparent-input">

                </h1>

                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text10" class="transparent-input"></textarea>
                </p>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text11" class="transparent-input"></textarea>
                </p>

                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.distribution.text12" class="transparent-input"></textarea>
                </p>

            </div>

            <div class="box_content-tag">
                <div class="content_tag">
                    <button>Tag one</button>
                    <button>Tag one</button>
                    <button>Tag one</button>
                    <button>Tag one</button>
                </div>
            </div>

            <div class="box_content-line">
                <hr>
            </div>

            <div class="box_content-avt " style="display: none;">
                <div class="content_avt-img">
                    <img src="../../image/fa333613e155822dc6b3dfe63f150a74.jpg" alt=""
                        style="width: 56px; height: 56px; border-radius: 50px;">
                </div>
                <div class="content_avt-dec">
                    <h2>Full Name</h2>
                    <p>Job title, Company name</p>
                </div>
            </div>

            <div class="" style="margin-top: 60px;">
                <h2>                    <input type="text" ng-model="lstText.shopSystem.distribution.text13" class="transparent-input">
                </h2>
            </div>

            <div class="box_content-list">
                <div class="content_list-dec">
                    <p>
                        <textarea style="width: 600px !important; " type="text" ng-model="lstText.shopSystem.distribution.text14" class="transparent-input"></textarea>
                    </p>
                </div>
                <div class="content_list-btn">
                    <span>View all</span>
                </div>
            </div>




        </div>

<div class="box_proshow-review containers row">
            <div class="col-12 col-sm-6 .col-md-6 col-lg-3">
                <div class="proshow_review-1">
                    <div class="proshow_review-img">
                        <img src="../../image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                    </div>
                    <div class="proshow_review-dec">
                        <div class="review_dec-tile">
                            <h3>Nếp nương</h3>
                        </div>
                        <div class="review_dec-sub">
                            To tròn, hạt mẩy, màu trắng sữa, dẻo, thơm nức
                        </div>
                        <div class="review_dec-btn">
                            <a href="">Mua Ngay</a>
                            <i class="fa-solid fa-angle-up fa-rotate-90"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 .col-md-6 col-lg-3">
                <div class="proshow_review-1">
                    <div class="proshow_review-img">
                        <img src="../../image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                    </div>
                    <div class="proshow_review-dec">
                        <div class="review_dec-tile">
                            <h3>Séng cù</h3>
                        </div>
                        <div class="review_dec-sub">
                            Hạt tròn dài, trắng bóng, hàm lượng tinh bột, chất xơ, protein, vitamin rất tốt
                        </div>
                        <div class="review_dec-btn">
                            <a href="">Mua Ngay</a>
                            <i class="fa-solid fa-angle-up fa-rotate-90"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 .col-md-6 col-lg-3">
                <div class="proshow_review-1">
                    <div class="proshow_review-img">
                        <img src="../../image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                    </div>
                    <div class="proshow_review-dec">
                        <div class="review_dec-tile">
                            <h3>Nếp nương</h3>
                        </div>
                        <div class="review_dec-sub">
                            To tròn, hạt mẩy, màu trắng sữa, dẻo, thơm nức
                        </div>
                        <div class="review_dec-btn">
                            <a href="">Mua Ngay</a>
                            <i class="fa-solid fa-angle-up fa-rotate-90"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 .col-md-6 col-lg-3">
                <div class="proshow_review-1">
                    <div class="proshow_review-img">
                        <img src="../../image/0a2bfdea369c16f5bf4735beae6066d7 (1).jpg" alt="">
                    </div>
                    <div class="proshow_review-dec">
                        <div class="review_dec-tile">
                            <h3>Nếp nương</h3>
                        </div>
                        <div class="review_dec-sub">
                            To tròn, hạt mẩy, màu trắng sữa, dẻo, thơm nức
                        </div>
                        <div class="review_dec-btn">
                            <a href="">Mua Ngay</a>
                            <i class="fa-solid fa-angle-up fa-rotate-90"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
