<div class="box_findProduct row containers">
    <div class="box_find col-12 col-md-3 col-sm-12">
        <div class="box_find">
            <div class="find_pro-tile" ng-click="showChildList = !showChildList">
                <h3>Danh Mục Sản Phẩm</h3>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="find_pro-box" ng-show="showChildList">
                <h4>Tất cả sản phẩm</h4>
                <div class="find_pro-checkbox">
                    <input type="checkbox" name="" id="">
                    <label for="">Nếp Nương</label>
                </div>
                <div class="find_pro-checkbox">
                    <input type="checkbox" name="" id="">
                    <label for="">Sén Cù</label>
                </div>
                <div class="find_pro-checkbox">
                    <input type="checkbox" name="" id="">
                    <label for="">Hương Việt</label>
                </div>

            </div>
        </div>

        <div class="box_find">
            <div class="find_pro-tile"  ng-click="showChildPrice = !showChildPrice">
                <h3>Lọc giá</h3>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="find_pro-box"  ng-show="showChildPrice">
                <div class="find_pro-checkbox">
                    <input type="checkbox" name="" id="">
                    <label for="">100.000 VND - 200.000 VND </label>
                </div>
                <div class="find_pro-checkbox">
                    <input type="checkbox" name="" id="">
                    <label for="">200.000 VND - 400.000 VND </label>
                </div>
                <div class="find_pro-checkbox">
                    <input type="checkbox" name="" id="">
                    <label for="">400.000 VND - 1.000.000 VND </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box_find-baner col-12 col-md-9 col-sm-12">
        <img src="../../image/f4cb6bcb81aff352c1c8858e70e6fb7e.jpg" alt="">
    </div>
</div>
<div class="containers box_tile_sort row">
    <div class="col-lg-3 col-md-12 col-sm-12">

    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 box_sort row">

        <div class="box_sort-1">
            <div class="box_favourite">
                <div>
                    <i class="fa-solid fa-user shadow"></i>
                </div>
                <div>
                    <i class="fa-solid fa-heart heart shadow"></i>
                </div>
                <div>
                    <i class="fa-solid fa-cart-shopping shadow"></i>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class=" box_bannerpro row containers" style="margin-top: 60px;">
            <div class="bannerpro_pro col-lg-8 col-md-8 col-sm-12 row" >

                <div class=" box_proshow row">
                    <div class="box_proshow-buy col-6">
                        <div class="proshow_img">
                            <img class="shadow" src="image/17b1e33edd1bc410eed36cdd32f09e43.jpg" alt="">
                        </div>
                        <div class="proshow_dec">
                            <div class="proshow_dec-item shadow">
                                <div class="proshow_dec-tile">
                                    <h1>Séng cù</h1>
                                </div>
                               <div class="proshow_buy-dec">
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Màu trắng sữa</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>To tròn</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Hạt Mấy</span>
                                    </div>
                                </div>
                                <div class="proshow_buy-btn">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Mua Ngay</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_proshow-buy col-6">
                        <div class="proshow_img">
                            <img class="shadow" src="image/17b1e33edd1bc410eed36cdd32f09e43.jpg" alt="">
                        </div>
                        <div class="proshow_dec">
                            <div class="proshow_dec-item shadow">
                                <div class="proshow_dec-tile">
                                    <h1>Séng cù</h1>
                                </div>
                               <div class="proshow_buy-dec">
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Màu trắng sữa</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>To tròn</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Hạt Mấy</span>
                                    </div>
                                </div>
                                <div class="proshow_buy-btn">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Mua Ngay</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_proshow-buy col-6">
                        <div class="proshow_img">
                            <img class="shadow" src="image/17b1e33edd1bc410eed36cdd32f09e43.jpg" alt="">
                        </div>
                        <div class="proshow_dec">
                            <div class="proshow_dec-item shadow">
                                <div class="proshow_dec-tile">
                                    <h1>Séng cù</h1>
                                </div>
                               <div class="proshow_buy-dec">
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Màu trắng sữa</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>To tròn</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Hạt Mấy</span>
                                    </div>
                                </div>
                                <div class="proshow_buy-btn">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Mua Ngay</span>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="box_proshow-buy col-6">
                        <div class="proshow_img">
                            <img class="shadow" src="image/17b1e33edd1bc410eed36cdd32f09e43.jpg" alt="">
                        </div>
                        <div class="proshow_dec">
                            <div class="proshow_dec-item shadow">
                                <div class="proshow_dec-tile">
                                    <h1>Séng cù</h1>
                                </div>
                               <div class="proshow_buy-dec">
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Màu trắng sữa</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>To tròn</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>Hạt Mấy</span>
                                    </div>
                                </div>
                                <div class="proshow_buy-btn">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Mua Ngay</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="scroll-container containers">
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/0a2bfdea369c16f5bf4735beae6066d7 (1).jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Hương việt</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Hương việt</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Séng cù</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Nếp nương</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Nếp nương</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Nếp nương</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Thêm các sản phẩm khác vào đây -->
                    </div>
                </div>
                <div class="product-list">
                    <div class="scroll-container containers">
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/0a2bfdea369c16f5bf4735beae6066d7 (1).jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Hương việt</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Hương việt</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Séng cù</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Nếp nương</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Nếp nương</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="box_proshow-buy">
                                <div class="proshow_img">
                                    <img class="shadow" src="image/b51e97f0ecc9ab7ec6f637fd427fa81b.jpg" alt="">
                                </div>
                                <div class="proshow_dec">
                                    <div class="proshow_dec-item shadow">
                                        <div class="proshow_dec-tile">
                                            <h1>Nếp nương</h1>
                                        </div>
                                       <div class="proshow_buy-dec">
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Màu trắng sữa</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>Thơm nức</span>
                                            </div>
                                            <div>
                                                <i class="fa-solid fa-circle-check"></i>
                                                <span>To tròn</span>
                                            </div>
                                        </div>
                                        <div class="proshow_buy-btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Mua Ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Thêm các sản phẩm khác vào đây -->
                    </div>
                </div>
            </div>
            <div class="bannerpro_baner col-lg-4 col-md-4 col-sm-12">
                <div class="baner_img">
                    <img src="../../image/c730a76ad3921d3c947f43a77f8c7499.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="box_banners">
            <div class="banner_overray">
                <img src="../../image/Image.png" alt="">
                <div class="banner_overray-dec">
                    <h2>
                        <input style="color: aliceblue;" type="text" ng-model="lstText.product.rice.text1" class="transparent-input">
                    </h2>
                    <span>
                        <input style="color: aliceblue;" type="text" ng-model="lstText.product.rice.text2" class="transparent-input">
                    </span>
                </div>
            </div>
            
        </div>