
<div ng-controller="slideShow" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img ng-src="../../assets/image/slide/2.jpg" class="d-block w-100" style="height: 38vw; object-fit: cover;">
                </div>
                <div class="nav_box">
                    <div class="nav_tile">
                        <input  type="text" ng-model="lstText.home.text1" class="transparent-input  transparent-input-w">
                    </div>
                    <div class="nav_sub">
                        
                        <textarea style="width: 200% !important" type="text" ng-model="lstText.home.text2" class="transparent-input  transparent-input-w"></textarea>
                    </div>

                    <div class="nav_btn">
                        <span><i class="fa-solid fa-plus"></i>ADD LIST</span>
                    </div>
                </div>

            </div>

        </div>


        <div class="box_sub containers">
            <p style="width: 100%;">
                <textarea style="width: 100% !important; font-size: 2rem; font-weight: bold;" type="text" ng-model="lstText.home.text3" class="transparent-input"></textarea>

            </div>

        <div class="box_video shadow">
            <div class="containers box_video-padding row">
                <div class="box_video-left col-lg-9 col-md-9 col-sm-12">
                    <video controls width="640" height="360" class="shadow">
                        <source src="../../assets/video/video.mp4" type="video/mp4">
                       
                        Trình duyệt của bạn không hỗ trợ video HTML5.
                    </video>
                </div>
                <div class="box_video-right col-lg-3 col-md-3 col-sm-12 row">
                    <div class="box_video_sub col-lg-12 col-md-12 col-sm-4 col-4">
                        <video controls width="640" height="360" class="shadow">
                            <source src="../../assets/video/video.mp4"  type="video/mp4">
                           
                            Trình duyệt của bạn không hỗ trợ video HTML5.
                        </video>
                    </div>
                    <div class="box_video_sub col-lg-12 col-md-12 col-sm-4 col-4">
                        <video controls width="640" height="360" class="shadow">
                            <source src="../../assets/video/video.mp4"  type="video/mp4">
                           
                            Trình duyệt của bạn không hỗ trợ video HTML5.
                        </video>
                    </div>
                    <div class="box_video_sub col-lg-12 col-md-12 col-sm-4 col-4">
                        <video controls width="640" height="360" class="shadow">
                            <source src="assets/video/video.mp4"  type="video/mp4">
                           
                            Trình duyệt của bạn không hỗ trợ video HTML5.
                        </video>
                    </div>
                </div>
            </div>

        </div>

        <div class="box_subs containers" style="justify-content: center; text-align: center;">
            <p>
                <input style="text-align: center;" type="text" ng-model="lstText.home.text4" class="transparent-input">
            </p>
        </div>

        <div class="box_content containers">
            <div class="box_layout row">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/box1.png" alt="">
                        </div>
                        <div class="box_info">
                            <div class="box_info_avt">
                                <img src="../../image/sadsasadsa.png" alt="">
                            </div>
                            <div class="box_info_dec">
                                <div class="info_tile">
                                    
                                    <h2>
                                        <input style="width: 100%;"  type="text" ng-model="lstText.home.box.box1.text1" class="transparent-input">
                                    </h2>
                                    <div style="color: black;">
                                        <input style="width: 100%; text-align: right;"  type="text" ng-model="lstText.home.box.box1.text2" class="transparent-input">
                                    </div>
                                </div>
                                <div class="info_dec" style="color: black;">
                                    <textarea  style="width: 100% !important;" type="text" ng-model="lstText.home.box.box1.text3" class="transparent-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/box_1.jpg" alt="">
                        </div>
                        <div class="box_info">
                            <div class="box_info_avt">
                                <img src="../../image/sadsasadsa.png" alt="">
                            </div>
                            <div class="box_info_dec">
                                <div class="info_tile">
                                    
                                    <h2>
                                        <input style="width: 100%;"  type="text" ng-model="lstText.home.box.box2.text1" class="transparent-input">
                                    </h2>
                                    <div style="color: black;">
                                        <input style="width: 100%; text-align: right;"  type="text" ng-model="lstText.home.box.box2.text2" class="transparent-input">
                                    </div>
                                </div>
                                <div class="info_dec" style="color: black;">
                                    <textarea  style="width: 100% !important;" type="text" ng-model="lstText.home.box.box2.text3" class="transparent-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/29f4361ed66d3027b8a5cb809fd42ec3.jpg" alt="">
                        </div>
                        <div class="box_info">
                            <div class="box_info_avt">
                                <img src="../../image/sadsasadsa.png" alt="">
                            </div>
                            <div class="box_info_dec">
                                <div class="info_tile">
                                    
                                    <h2>
                                        <input style="width: 100%;"  type="text" ng-model="lstText.home.box.box3.text1" class="transparent-input">
                                    </h2>
                                    <div style="color: black;">
                                        <input style="width: 100%; text-align: right;"  type="text" ng-model="lstText.home.box.box3.text2" class="transparent-input">
                                    </div>
                                </div>
                                <div class="info_dec" style="color: black;">
                                    <textarea  style="width: 100% !important;" type="text" ng-model="lstText.home.box.box3.text3" class="transparent-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/29f4361ed66d3027b8a5cb809fd42ec3.jpg" alt="">
                        </div>
                        <div class="box_info">
                            <div class="box_info_avt">
                                <img src="../../image/sadsasadsa.png" alt="">
                            </div>
                            <div class="box_info_dec">
                                <div class="info_tile">
                                    
                                    <h2>
                                        <input style="width: 100%;"  type="text" ng-model="lstText.home.box.box4.text1" class="transparent-input">
                                    </h2>
                                    <div style="color: black;">
                                        <input style="width: 100%; text-align: right;"  type="text" ng-model="lstText.home.box.box4.text2" class="transparent-input">
                                    </div>
                                </div>
                                <div class="info_dec" style="color: black;">
                                    <textarea  style="width: 100% !important;" type="text" ng-model="lstText.home.box.box4.text3" class="transparent-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/0a2bfdea369c16f5bf4735beae6066d7.jpg" alt="">
                        </div>
                        <div class="box_info">
                            <div class="box_info_avt">
                                <img src="../../image/sadsasadsa.png" alt="">
                            </div>
                            <div class="box_info_dec">
                                <div class="info_tile">
                                    
                                    <h2>
                                        <input style="width: 100%;"  type="text" ng-model="lstText.home.box.box5.text1" class="transparent-input">
                                    </h2>
                                    <div style="color: black;">
                                        <input style="width: 100%; text-align: right;"  type="text" ng-model="lstText.home.box.box5.text2" class="transparent-input">
                                    </div>
                                </div>
                                <div class="info_dec" style="color: black;">
                                    <textarea  style="width: 100% !important;" type="text" ng-model="lstText.home.box.box5.text3" class="transparent-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/box1.png" alt="">
                        </div>
                        <div class="box_info">
                            <div class="box_info_avt">
                                <img src="../../image/sadsasadsa.png" alt="">
                            </div>
                            <div class="box_info_dec">
                                <div class="info_tile">
                                    
                                    <h2>
                                        <input style="width: 100%;"  type="text" ng-model="lstText.home.box.box6.text1" class="transparent-input">
                                    </h2>
                                    <div style="color: black;">
                                        <input style="width: 100%; text-align: right;"  type="text" ng-model="lstText.home.box.box6.text2" class="transparent-input">
                                    </div>
                                </div>
                                <div class="info_dec" style="color: black;">
                                    <textarea  style="width: 100% !important;" type="text" ng-model="lstText.home.box.box6.text3" class="transparent-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
