
        <div class="maps_box row">
            <div class="map_dec col-lg-8 col-md-8 col-sm-12">
                <div class="map_dec-tile">
                    <h2>Thông tin liên hệ</h2>
                    <div class="row ">
                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div>
                                    <h3>Địa Chỉ</h3>
                                    <p><textarea style="width: 100% !important;" type="text" ng-model="lstText.contact.text1" class="transparent-input"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                                <div>
                                    <h3>Thời gian làm việc</h3>
                                    <p><textarea style="width: 100% !important;" type="text" ng-model="lstText.contact.text2" class="transparent-input"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>
                                <div>
                                    <h3>Điện thoại</h3>
                                    <p><input  type="text" ng-model="lstText.contact.text3" class="transparent-input">                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div>
                                    <h3>Email</h3>
                                    <p><input  type="text" ng-model="lstText.contact.text4" class="transparent-input">                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="map_dec-body shadow">
                    <h2>Gửi thắc mắc cho chúng tôi</h2>
                    <p><textarea  style="width: 100% !important; border-bottom: 1px solid black !important;" type="text" ng-model="lstText.contact.text5" class=" noshadow transparent-input"></textarea>
                    </p>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Tên Của Bạn">
                        </div>
                        <div class="mb-3 row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Email Của Bạn">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Số Điện Thoại">
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea name="" id="" cols="30" rows="10" class="form-control"
                                placeholder="Nội Dung"></textarea>
                        </div>

                        <button type="submit" class="btn"
                            style="background-color: rgb(252, 227, 0); border-radius: 50px; color: white; margin: 10px;">Gửi Cho Chúng
                            tôi</button>
                    </form>
                </div>
            </div>
            <div class="map  col-lg-4 col-md-4 col-sm-12 shadow ">
                <iframe class="shadow"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7922770924874!2d105.78021657484832!3d21.00096218873349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad63b0d3c99b%3A0x835e31b4c47fb307!2sGetfit%20Green%20Bay!5e0!3m2!1svi!2s!4v1694716622959!5m2!1svi!2s"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

