

        <div class="containers box_bannerpro row" style="margin-top: 60px;">
            <div class="box_newtime col-lg-9 col-md-12 col-sm-12">
                <div class="box_newtime-b1 row">
                    <div class="newtime_b1-img col-lg-8 col-md-12 col-sm-12">
                        <img class="shadow" src="../../image/dbqgxtnd202310030800-1696299961575792853672.gif" alt="">
                    </div>
                    <div class="newtime_b1-dec col-lg-4 col-md-12 col-sm-12">
                        <h1>
                            <input  type="text" ng-model="lstText.news.box1.text1" class="transparent-input">
                        </h1>
                        <p>
                            <textarea  style="width: 100% !important; height: 400%;" type="text" ng-model="lstText.news.box1.text2" class="transparent-input"></textarea>
    
                        </p>

                    </div>
                </div>

                <div class="box_newtime-b2">
                    <div >
                        <div class="box_proshow-review row" style="margin-bottom: 0;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="proshow_review-1 noshadow">
                                    <div class="proshow_review-img">
                                        <img src="../../image/3843122576712629149404612661747032422009914n-16960669144822054837655-1-0-557-889-crop-16960669527311055955141.png" alt="" class="shadow">
                                    </div>
                                    <div class="proshow_review-dec">
                                        <div class="review_dec-tile">
                                            <h3>
                                             <input  type="text" ng-model="lstText.news.box2.text1" class="transparent-input">
                                                
                                            </h3>
                                        </div>
                                        <div class="review_dec-sub">
                                            
                                            <textarea  style="width: 100% !important;" type="text" ng-model="lstText.news.box2.text2" class="transparent-input"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="proshow_review-1 noshadow">
                                    <div class="proshow_review-img">
                                        <img src="../../image/79-20230621050259-uzu08.jpg" alt="" class="shadow">
                                    </div>
                                    <div class="proshow_review-dec">
                                        <div class="review_dec-tile">
                                            <h3>
                                             <input  type="text" ng-model="lstText.news.box3.text1" class="transparent-input">
                                                
                                            </h3>
                                        </div>
                                        <div class="review_dec-sub">
                                            <textarea  style="width: 100% !important;" type="text" ng-model="lstText.news.box3.text2" class="transparent-input"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="bannerpro_baner col-lg-3 col-md-12 col-sm-12">
                <div class="baner_img">
                    <img src="../../image/c730a76ad3921d3c947f43a77f8c7499.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="box_banners">
            <div class="banner_overray">
                <img src="../../image/Image.png" alt="">
                <div class="banner_overray-dec">
                    <h2>Grants Area</h2>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>

        </div>
        <script src="js/main.js"></script>
</body>

</html>