<div class="containers box_bannerpro row" style="margin-top: 60px;">

  <div class="box_newtime col-lg-12 col-md-12 col-sm-12">
    <div class="box_newtime-tile">
      <h2>Tin Tức
      </h2>
    </div>
    <div class="box_newtime-detail">
      <div class="box_newdetail-tile">
        <h2>
          
        </h2>
      </div>
      <div class="box_newdetail-img" style="padding: 0;">

        <div class="col-md-12">
          <label class="form-label" style="font-size: 1.8rem;">Tile</label>
          <input style="font-size: 2rem;" type="text" ng-model="news.tile" class="form-control">
        </div>
        <div class="row mb-3" style="font-size: 1.8rem; margin: 10px 0;">
          <div class="col-sm-2">
            <label for="inputText" class="col-sm-2 col-form-label" style="align-items: center;">Image</label>
          </div>
          <div class="col-sm-10">
            <div class="box_proavt-img" ng-repeat="(index, img) in news.avatar">
              <div class="box_proavt-close" ng-click="deleteImgNews(index)">
                <i class="bi bi-x-circle-fill"></i>
              </div>
              <img src="{{img}}" alt="img" style="width: 60px; height: 60px; object-fit: cover; margin-right: 2px;">
            </div>
            <div>
              <div class="col-12">
                <div ng-controller="uploadFile">
                  <input type="file" style="margin-top: 10px; font-size: 2rem;" class="form-control" file-model="myFile"/>
                </div>
              
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="box_newdetail-dec" style="height: auto">
        <label class="form-label" style="font-size: 1.8rem;">Content</label>
        <textarea style="font-size: 1.8rem; height: 500px" type="text" ng-model="news.dec"
          class="form-control"></textarea>
      </div>

      <div class="row mb-3">

        <div class="col-sm-10">
          <button ng-click="saveNews()" style="font-size: 2rem; margin-top: 20px;" type="submit"
            class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box_banners">
  <div class="banner_overray">
    <img src="../image/Image.png" alt="">
    <div class="banner_overray-dec">
      <h2>Grants Area</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </div>
  </div>

</div>