

<div ng-controller="tintucController" class="containers box_bannerpro row" style="margin-top: 60px;">
    <div class="box_newtime col-lg-12 col-md-12 col-sm-12">
       <div class="box_newtime-tile">
            <h2>Tin Tức Mới</h2>
       </div>
       <div class="box_newtime-content">


            <div class="box_new " ng-repeat="tt in lstTinTuc | orderBy:'-createdAt'">
                <a ng-href="#/page/tin-tuc/{{tt.url}}" class="row">
                <div class="box_new-img col-lg-4 col-md-4 col-sm-12">
                    <img class="shadow" ng-src="{{tt.avatar}}" alt="">
                </div>
                <div class="box_new-text col-lg-8 col-md-8 col-sm-12">
                    <div class="box_new-tile">
                        <h3>{{tt.tile | limitTo:100}}</h3>
                    </div>

                    <div class="box_new-dec">
                        <p>{{tt.dec | limitTo:300}} ...</p>
                    </div>
                </div>
                </a>
            </div>
<!-- modal btn -->

            <div class="box_new">
                <div class="cards">
                    <div class="card-body">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                       
                            <i class="bi bi-plus-circle"></i>
                   
                      </button>
          
                    </div>
                  </div>
            </div>
         
<!-- end modal btn  -->
            
       </div>
    </div>

<!-- End Vertically centered Modal-->
    <div class="modal fade" id="verticalycentered" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nhập Đường Dẫn Cho Bài Viết Mới</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="chao-ngay-moi" ng-model="urlNew">
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="addNew()">Next</button>
            </div>
          </div>
        </div>
      </div><!-- End Vertically centered Modal-->


</div>

<div class="box_banners">
    <div class="banner_overray">
        <img src="../image/Image.png" alt="">
        <div class="banner_overray-dec">
            <h2>Grants Area</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
    </div>

</div>