

<div ng-controller="tintucController" class="containers box_bannerpro row" style="margin-top: 60px;">
    <div class="box_newtime col-lg-12 col-md-12 col-sm-12">
       <div class="box_newtime-tile">
            <h2>Tin Tức Mới</h2>
       </div>
       <div class="box_newtime-content">
        <div class="box_new">
          <div class="cards">
              <div class="card-body">
                <a href="#/page/tin-tuc/new" class="btn btn-primary">
                      <i class="bi bi-plus-circle"></i>
                </a>
              </div>
            </div>
      </div>
   
            <div class="box_new box_news-item" ng-repeat="tt in lstTinTuc | orderBy:'-createdAt'">
                <a ng-href="#/page/tin-tuc/{{tt.url}}" class="row">
                <div class="box_new-img col-lg-4 col-md-4 col-sm-12">
                    <img class="shadow" ng-src="{{tt.avatar[0]}}" alt="">
                </div>
                <div class="box_new-text col-lg-8 col-md-8 col-sm-12">
                    <div class="box_new-tile">
                        <h3>{{tt.tile | limitTo:100}}</h3>
                    </div>

                    <div class="box_new-dec">
                        <p>{{tt.dec | limitTo:300}} ...</p>
                    </div>
                </div>
                
                </a>
                <div class="box_new-btn">
                  <a class="btn btn-outline-success " href="#/page/tin-tuc/{{tt.url}}"><i class="bi bi-vector-pen"></i></a>
                  <button class="btn btn-outline-success" ng-click="deleteNews(tt.id)"><i class="bi bi-trash"></i></button>
                </div>
            </div>
<!-- modal btn -->

<!-- end modal btn  -->
            
       </div>
    </div>

</div>

<div class="box_banners">
    <div class="banner_overray">
        <img src="../image/Image.png" alt="">
        <div class="banner_overray-dec">
            <h2>Grants Area</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
    </div>

</div>