

        <nav class="nav_inner row">
            <div class="box_inner col-12 col-md-6 ">
                <div class="">
                    <img src="../../image/sss.png" alt="">
                </div>
            </div>
            <div class="box_inner col-12 col-md-6 ">
                <div class="box_inner-dec">
                    <h2>
                        <input style="" type="text" ng-model="lstText.aboutUs.text1" class="transparent-input">
                    </h2>
                    <p>
                        <textarea style="width: 100% !important; " type="text" ng-model="lstText.aboutUs.text2" class="transparent-input"></textarea>
                    </p>
                </div>
            </div>
        </nav>
        <div class="containers">
            <div class="box_layout row">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/9f29de6bf440ba127e05a3cbe71f7941.jpg" alt="">
                        </div>
                        <div class="box_info">
                            
                            <div class="box_info_dec none_mg">
                                <div class="info_tile">
                                    <h2>TẦM NHÌN</h2>
                                    
                                </div>
                                <div class="info_dec" style="color: black;">
                                    Doanh nghiệp sản xuất gạo sạch: Gạo Hạt Ngọc Đất Trời, Minh Tâm, Tiền Giang Food, Gạo mầm Vibigaba, Gạo Hoa Lúa, Gạo Hữu Cơ Quế Lâm, Gạo Vinafood 1, Thành Tí  </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/9416aa01e2aae99c121058d8183844dd.jpg" alt="">
                        </div>
                        <div class="box_info">
                            
                            <div class="box_info_dec none_mg">
                                <div class="info_tile">
                                    <h2>SỨ MỆNH</h2>
                                    
                                </div>
                                <div class="info_dec" style="color: black;">
                                    Doanh nghiệp sản xuất gạo sạch: Gạo Hạt Ngọc Đất Trời, Minh Tâm, Tiền Giang Food, Gạo mầm Vibigaba, Gạo Hoa Lúa, Gạo Hữu Cơ Quế Lâm, Gạo Vinafood 1, Thành Tí
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="box_img">
                            <img src="../../image/4362ff8305bbaefe87af6e7b215e45a6.jpg" alt="">
                        </div>
                        <div class="box_info">
                            
                            <div class="box_info_dec none_mg">
                                <div class="info_tile">
                                    <h2>GIÁ TRỊ CỐT LÕI</h2>
                                    
                                </div>
                                <div class="info_dec" style="color: black;">
                                    Doanh nghiệp sản xuất gạo sạch: Gạo Hạt Ngọc Đất Trời, Minh Tâm, Tiền Giang Food, Gạo mầm Vibigaba, Gạo Hoa Lúa, Gạo Hữu Cơ Quế Lâm, Gạo Vinafood 1, Thành Tí
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        <div class="box_decs">
            <h2>
                <input style="" type="text" ng-model="lstText.aboutUs.text3" class="transparent-input">

            </h2>
            <p> <textarea style="width: 100% !important; " type="text" ng-model="lstText.aboutUs.text4" class="transparent-input"></textarea>
            </p>
        </div>

        <div class="containers">

            <div class="box_player">
                <div class="player1">
                    <img src="../../image/playe1r.png" alt="" class="shadow">
                </div>
                <div class="player2">
                    <img src="../../image/player2.png" alt="" class="shadow">
                </div>
            </div>

        </div>
        <div class="boxmomo_inner">
            <h1 style="text-align: center; color: black; margin-bottom: 20px;">ĐỐI TÁC</h1>
            <div class="momo_logo" style="text-align: center; color: black;">
                <img src="../../image/momo.png" alt="">
            </div>
            <div class="momo_dec">
                <div class="momo_dec-left">
                    <img src="../../image/btnleft.png" alt="">
                </div>

                <div class="momo_dec-conten" style="width: 60%;">
                    <img src="../../image/momoconten.png" alt="">
                </div>
                <div class="momo_dec-right">
                    <img src="../../image/btnRight.png" alt="">
                </div>

            </div>

        </div>
        <div>
            <h1 style="text-align: center; color: black;">                        
            <input style="" type="text" ng-model="lstText.aboutUs.text5" class="transparent-input">            </h1>
        </div>

        <div class="table_1 containers showdow_inner">
            <div class="table">
                <div class="table_header shadow">
                    <div>
                        VỊ TRÍ
                    </div>
                    <div>
                        ĐỊA ĐIỂM
                    </div>
                    <div>
                        SỐ LƯỢNG
                    </div>
                    <div>
                        HẠN NỘP HỒ SƠ
                    </div>
                    <div>
                        ỨNG TUYỂN
                    </div>
                </div>
                <div class="table_body">
                    <div>
                        VỊ TRÍ
                    </div>
                    <div>
                        ĐỊA ĐIỂM
                    </div>
                    <div>
                        SỐ LƯỢNG
                    </div>
                    <div>
                        HẠN NỘP HỒ SƠ
                    </div>
                    <div class="table_btn">
                        <div><a href="" ><button  class="btn-green">Ứng Tuyển</button></a></div>
                    </div>
                </div>
                <hr>
                <div class="table_body">
                    <div>
                        VỊ TRÍ
                    </div>
                    <div>
                        ĐỊA ĐIỂM
                    </div>
                    <div>
                        SỐ LƯỢNG
                    </div>
                    <div>
                        HẠN NỘP HỒ SƠ
                    </div>
                    <div class="table_btn">
                        <div><a href=""><button  class="btn-green" >Ứng Tuyển</button></a></div>
                    </div>
                </div>
                <hr>
                <div class="table_body">
                    <div>
                        VỊ TRÍ
                    </div>
                    <div>
                        ĐỊA ĐIỂM
                    </div>
                    <div>
                        SỐ LƯỢNG
                    </div>
                    <div>
                        HẠN NỘP HỒ SƠ
                    </div>
                    <div class="table_btn">
                        <div><a href="" ><button  class="btn-green">Ứng Tuyển</button></a></div>
                    </div>
                </div>

                <div class="table_tile">
                    <h2>
                        HỆ THỐNG CƯA HÀNG
                    </h2>
                </div>


                <div class="table_header shadow">
                    <div>
                        VỊ TRÍ
                    </div>
                    <div>
                        ĐỊA ĐIỂM
                    </div>
                    <div>
                        SỐ LƯỢNG
                    </div>
                    <div>
                        HẠN NỘP HỒ SƠ
                    </div>
                    <div>
                        ỨNG TUYỂN
                    </div>
                </div>
                <div class="table_body">
                    <div>
                        VỊ TRÍ
                    </div>
                    <div>
                        ĐỊA ĐIỂM
                    </div>
                    <div>
                        SỐ LƯỢNG
                    </div>
                    <div>
                        HẠN NỘP HỒ SƠ
                    </div>
                    <div class="table_btn">
                        <div><a href="" ><button  class="btn-green">Ứng Tuyển</button></a></div>
                    </div>
                </div>

            </div>

        </div>

        <div class="maps_box row">
            <div class="map_dec col-lg-8 col-md-8 col-sm-12">
                <div class="map_dec-tile">
                    <h2>Thông tin liên hệ</h2>
                    <div class="row ">
                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div>
                                    <h3>Địa Chỉ</h3>
                                    <p>G1-căn 0210,0211,0212 - Toà G1, Vinhomes Green Bay, Lương Thế Vinh, P, Nam Từ
                                        Liêm, Hà Nội, Việt Nam</p>
                                </div>
                            </div>
                        </div>

                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                                <div>
                                    <h3>Thời gian làm việc</h3>
                                    <p>Thứ 2 đến thứ 7: từ 8h đến 18;
                                        Thứ 7 và chủ nhật: từ 8h đến 17h </p>
                                </div>
                            </div>
                        </div>


                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>
                                <div>
                                    <h3>Điện thoại</h3>
                                    <p>0835333333</p>
                                </div>
                            </div>
                        </div>


                        <div class="map_dec-info col-lg-6 col-md-6 col-sm-12">
                            <div class="info-addres" style="display: flex; width: 100%;">
                                <div
                                    style="color: rgb(35, 208, 0); font-size: 2.4rem; margin-right: 10px; text-align: center;">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div>
                                    <h3>Email</h3>
                                    <p>info@gaonuong.com.vn</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="map_dec-body shadow">
                    <h2>Gửi thắc mắc cho chúng tôi</h2>
                    <p>Gửi thắc mắc cho chúng tôiGửi thắc mắc cho chúng tôiGửi thắc mắc cho chúng tôiGửi thắc mắc cho
                        chúng tôi</p>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Tên Của Bạn">
                        </div>
                        <div class="mb-3 row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Email Của Bạn">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Số Điện Thoại">
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea name="" id="" cols="30" rows="10" class="form-control"
                                placeholder="Nội Dung"></textarea>
                        </div>

                        <button type="submit" class="btn"
                            style="background-color: rgb(252, 227, 0); border-radius: 50px; color: white; margin: 10px;">Gửi Cho Chúng
                            tôi</button>
                    </form>
                </div>
            </div>
            <div class="map  col-lg-4 col-md-4 col-sm-12 shadow ">
                <iframe class="shadow"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7922770924874!2d105.78021657484832!3d21.00096218873349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad63b0d3c99b%3A0x835e31b4c47fb307!2sGetfit%20Green%20Bay!5e0!3m2!1svi!2s!4v1694716622959!5m2!1svi!2s"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>



        <script src="js/main.js"></script>
</body>

</html>