
        <div class="banner_color">
            <h1>
                <input style="color: aliceblue;" type="text" ng-model="lstText.shopSystem.why.text1" class="transparent-input  transparent-input-w">

            </h1>
        </div>

        <div class="box_content-reason containers row">
            <div class="col-lg-8 col-md-12 col-sm-12 content_reason-left" style="padding-right: 60px;">
                <h1>
                    <input type="text" ng-model="lstText.shopSystem.why.text2" class="transparent-input">
                </h1>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text3" class="transparent-input"></textarea>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text4" class="transparent-input"></textarea>
                </p>

                <div class="intro_img">
                    <img src="../../image/e9e1e875b44cecde748d4bd5f90008cc.jpg" alt="">
                    <span>Image caption goes here</span>
                </div>

                <h2>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text5" class="transparent-input"></textarea>
                </h2>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text6" class="transparent-input"></textarea>
                </p>

                <div class="intro_dec">
                    <p>
                        <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text7" class="transparent-input"></textarea>
                        
                    </p>
                </div>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text8" class="transparent-input"></textarea>
   

                <h1>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text9" class="transparent-input"></textarea>

                </h1>

                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text10" class="transparent-input"></textarea>

          </p>
                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text11" class="transparent-input"></textarea>

                <p>
                    <textarea style="width: 100% !important; " type="text" ng-model="lstText.shopSystem.why.text12" class="transparent-input"></textarea>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 content_reason-right">
                <dib class="box_reason-right" style="display: none;">
                    <h3></h3>
                    <p>
                        Tìm hiểu thêm về dịch vụ của chúng tôi.
                    </p>
                    
                    <div class="reason_right-btn">
                        <a href="">Subscribe</a>

                    </div>
                </dib>

                <div class="bannerpro_baner">
                    <div class="baner_img">
                        <img src="../../image/6fa527fcf0edd49ccc2833127de032b3.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>



