<div class="main-wrappers" ng-controller="cartController">

    <div class="page-wrapper ms-0">
        <div class="content">
            <div class="row">

                <div class="col-lg-12 col-sm-12 ">
                    <div class="card-body pt-0">
                        <div class="totalitem">
                            <h4>Total items : 4</h4>
                            <a href="javascript:void(0);">Clear all</a>
                        </div>
                        <div class="product-header">
                            <ul class="product-lists">
                                <li class="product-checkboxs">
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </li>
                                <li style="width: 50%;">
                                    Sản Phẩm
                                </li>
                                <div class="product_box-right">
                                    <li>Đơn Giá</li>
                                    <li>Số Lượng</li>
                                    <li>Thành Tiền</li>
                                    <li>Thao Tác</li>
                                </div>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-table">
                            <ul class="product-lists" ng-repeat="pro in lstCart">
                             
                                <li  class="product-checkboxs">
                                    <label class="checkboxs">
                                        <input type="checkbox" value="{{pro.billDetail.id}}">
                                        <span class="checkmarks"></span>
                                    </label>
                                </li>
                                <li class="product_items">
                                    <div class="productimg">
                                        <div class="productimgs">
                                            <img ng-src="{{pro.product.avatar[0]}}" alt="img">
                                        </div>
                                        <div class="productcontet">
                                            <h4>{{pro.product.name}}
                                                <a href="javascript:void(0);" class="ms-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit"><img src="assets/img/icons/edit-5.svg"
                                                        alt="img"></a>
                                            </h4>
                                            <div class="productlinkset">
                                                <h5>{{pro.product.category[0]}}</h5>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <div class="product_box-right">

                                <li>{{pro.product.price}}</li>
                                <li>
                                    <div class="increment-decrement" ng-controller="quatityController">
                                        <div class="input-groups">
                                            <input type="button" value="-" class="button-minus dec button" ng-click="addQuantity(pro, -1)">
                                            <input type="text" name="child" value="{{pro.quantity}}" class="quantity-field" ng-chance="addQuantity(pro, value)">
                                            <input type="button" value="+" class="button-plus inc button a1 a2 a3 a4" ng-click="addQuantity(pro, 1)">
                                        </div>
                                    </div>
                                </li>
                                <li>{{pro.quantity * pro.product.price}}</li>
                                <li ng-controller="deleteCartController">
                                    <a ng-click="deleteProduct(pro.billDetail,$index)" class="confirm-text" href="javascript:void(0);"><img
                                            src="assets/img/icons/delete-2.svg" alt="img"></a>
                                </li>
                            </div>

                            </ul>
                           
                        </div>
                        
                    </div>
                    <div class="cart_btn">
                        <a  href="#/buy"  class="btn btn-success">Mua Ngay</a>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

  
</div>
