<div class="main-wrappers" ng-controller="cartController">

    <div class="page-wrapper ms-0">
        <div class="content">
            <div class="row">

                <div class="col-lg-12 col-sm-12 ">
                    <div class="card-body pt-0">
                        <div class="totalitem">
                            <h4>Total items : 4</h4>
                            <a href="javascript:void(0);">Clear all</a>
                        </div>
                        <div class="product-header">
                            <ul class="product-lists">
                                <li class="product-checkboxs">
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </li>
                                <li style="width: 50%;">
                                    Sản Phẩm
                                </li>
                                <div class="product_box-right">
                                    <li>Đơn Giá</li>
                                    <li>Số Lượng</li>
                                    <li>Thành Tiền</li>
                                    <li>Thao Tác</li>
                                </div>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-table">
                            <ul class="product-lists" ng-repeat="pro in lstCart">
                             
                                <li  class="product-checkboxs">
                                    <label class="checkboxs">
                                        <input type="checkbox" value="{{pro.billDetail.id}}">
                                        <span class="checkmarks"></span>
                                    </label>
                                </li>
                                <li class="product_items">
                                    <div class="productimg">
                                        <div class="productimgs">
                                            <img ng-src="{{pro.product.avatar[0]}}" alt="img">
                                        </div>
                                        <div class="productcontet">
                                            <h4>{{pro.product.name}}
                                                <a href="javascript:void(0);" class="ms-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit"><img src="assets/img/icons/edit-5.svg"
                                                        alt="img"></a>
                                            </h4>
                                            <div class="productlinkset">
                                                <h5>{{pro.product.category[0]}}</h5>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <div class="product_box-right">

                                <li>{{pro.product.price}}</li>
                                <li>
                                    <div class="increment-decrement" ng-controller="quatityController">
                                        <div class="input-groups">
                                            <input type="button" value="-" class="button-minus dec button" ng-click="addQuantity(pro, -1)">
                                            <input type="text" name="child" value="{{pro.quantity}}" class="quantity-field" ng-chance="addQuantity(pro, value)">
                                            <input type="button" value="+" class="button-plus inc button a1 a2 a3 a4" ng-click="addQuantity(pro, 1)">
                                        </div>
                                    </div>
                                </li>
                                <li>{{pro.quantity * pro.product.price}}</li>
                                <li ng-controller="deleteCartController">
                                    <a ng-click="deleteProduct(pro.billDetail,$index)" class="confirm-text" href="javascript:void(0);"><img
                                            src="assets/img/icons/delete-2.svg" alt="img"></a>
                                </li>
                            </div>

                            </ul>
                           
                        </div>
                        
                    </div>
                    <div class="cart_btn">
                        <button onclick="modalShare()" class="btn btn-success btn_addPro"><img src="../assets/img/icons/plus.svg" alt="img" class="me-1"><span>Thêm Sản Phẩm</span></button>
                        <a  href="#/buy"  class="btn btn-success btn_buy">Mua Ngay</a>
                        
                    </div>
                    <div class="modal_sh hide">
                        <div class="modal_share">
            
                            <div class="modal_share-box row">
                                <div class="modal_share-close">
                                    <div class="share_close-btn" onclick="modalShare()">
                                        <i class="ri-close-fill"></i>
                                    </div>
                                </div>
                                <h1>Đang Phát Triển Tính Năng</h1>
                                <!-- <div class="box_share-left col-lg-5 col-md-5 col-sm-12">
                                    <div class="share_left-img">
                                        <img ng-src="{{product.avatar[0]}}" alt="">
                                    </div>
                                    <div class="share_left-tile">
                                        <h2> {{product.name}}</h2>
                                    </div>
                                    <div class="share_left-price">
                                        <span> {{product.price | number}}</span>
                                    </div>
                                    <div class="share_left-dec">
                                        {{product.description | limitTo : 200}}
                                    </div>
                                </div>
            
                                <div class="box_share-right col-lg-7 col-md-7 col-sm-12">
                                    <div class="share_right-url">
            
                                        <div class="share_url">
                                            <div class="share_url-tile">
                                                <h3>Copy URL</h3>
                                            </div>
                                            <div class="share_url-input">
                                                <input type="text" readonly id="copyText" value="{{currentURL}}">
                                                <button onclick="copyToClipboard()"><i class="ri-file-copy-line"></i></button>
                                            </div>
                                        </div>
            
                                        <div class="share_mxh">
                                            <div class="share_mxh-tile">
                                                <h3>Chia Sẻ Lên</h3>
                                            </div>
                                            <div class="share_mxh-icon">
                                                <a
                                                    href="fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=123456789"><i
                                                        class="bi bi-facebook"></i></a>
            
            
                                                <i class="bi bi-messenger"></i>
                                                <i class="bi bi-twitter"></i>
                                                <i class="bi bi-twitch"></i>
                                            </div>
                                        </div>
            
                                        <div class="share_qr">
                                            <div class="share_qr-tile">
                                                <h3>Chia Sẻ QR</h3>
                                            </div>
                                            <div class="share_qr-img">
                                                <img src="https://chart.apis.google.com/chart?cht=qr&chs=150x150&chl={{encodedUrlQR}}"
                                                    alt="{{encodedUrlQR}}">
                                            </div>
                                        </div>
            
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
            
            
                    <div class="modal_share-gay" onclick="modalShare()">
            
                    </div>
                </div>

                
            </div>
        </div>
    </div>

  
</div>
