/* mobile */
@media only screen and (max-width: 767px) {

    html,
    body {
        font-size: 42.5%;
    }

    header {
        height: 80px;
    }

    .containers {

        margin-left: 36px;
        margin-right: 36px;
    }

    .header_logo {
        margin-left: 36px;
    }

    .nav_btn {
        display: none !important;
    }

    .menu_mobile-btn {
        padding: 6px 10px;
    }

    .menu_mobile-list {
        padding: 0 10px;
    }

    .header_menu {
        display: none;
    }

    .header_language {
        display: none;
    }

    .menu_mobile {
        display: block;
    }

    .container_menu {
        margin: 0 60px;
    }

    .nav_box {
        left: 20px;
        bottom: 20px;
    }

    .box_subs p,
    .box_sub p {
        width: 100%;
        font-size: 1.8rem;
    }

    .box_video-right {
        display: none;
    }
    .nav_tile{
        font-size: 2.2rem;
    }
    .nav_sub {
        width: 90%;
        font-size: 1.6rem;
    }
    .box_inner-dec{
        margin-top: 10px;
    }
    .box_inner-dec h2{
        
        font-size: 4rem;
    }
    .footer_box-2{
        margin-top: 20px;
    }

    .nav_inner {
        padding: 20px 20px;
    }

    .momo_logo img {
        width: 40px;
    }

    .momo_dec img {
        width: 40px;
    }

    .momo_dec-conten {}

    .momo_dec-conten img {
        width: 100%;
    }

    .table_header {
        margin: 16px 0;
        padding: 4px;
        font-size: 1.2rem !important;
    }
    .table_body{
        font-size: 1.2rem;
    }
    .table_btn button{
        font-size: 1.2rem;
    }
    .map_dec-body{
        padding: 0 10px;
    }
    .map_dec-tile {
        padding: 0;
    }
    .box_decs p{
        width: 100%;
    }
    textarea{
        height: auto;
        
    }
    .map_dec {
        padding-right: 0;
    }

    .map {
        margin-top: 10px;
    }
    input::placeholder,
    textarea::placeholder {
        font-size: 2rem;
        padding-left: 4px
    }


.shadow button,
.shadow select,
.shadow textarea,
.shadow input[type='text'] {
    font-size: 2rem;

}
.bannerpro_baner{
    display: none;
}
.banner_color{
    
    display: flex;
    justify-content: center;

}
.box_find-baner img{
    height: 120px;
}
.banner_color h1{
    font-size: 4rem;
    margin-left: 0px;
    text-align: center;
    padding: 40px 20px;
}
.content_reason-left{
    padding: 0!important;
}
.banner_color-img{
    display: none;
}
.banner_color{
    height: auto;
}
.box_content-reason{
    margin-top: 0;
    margin-bottom: 0;
}
.content_list-btn{
    padding: 0;
}
.proshow_review-1{
    margin-bottom: 20px;
}

.form_option{
    padding: 0 4px;
}
.form_register-box{
    padding: 0 4px;
}
.box_procedure-tile{
    margin: 20px 0 !important; 
}
.banner_overray-dec h2{
    font-size: 3.8rem;
}
.banner_overray-dec span{
    font-size: 1.8rem;

}
.info-addres h3{
    font-size: 1.8rem;
}
.info-addres p{
    font-size: 1.6rem;

}
.maps_box{
    margin-top: 36px;
    margin-left: 36px;
    margin-right: 36px;
}
.box_findProduct{
    flex-direction: column-reverse;
}
.box_find-baner{
    margin-bottom: 10px;
}
.box_tile_sort{
    display: none;
}

.box_proshow{
    display: none;
}
.product-list{
    display: block;
}
.box_proshow-buy{
    width: 200px;
}
.proshow_img{
    height: 200px;
}
.product{
    margin-right: 10px;
}
.proshow_buy>div{
    margin-top: 8px;
}
.proshow_buy-dec{
    margin-top: 8px;
}
.proshow_dec-item {
    padding: 6px 12px;
}
.proshow_dec-tile h1{
    margin-top: 6px;
    margin-bottom: 4px;
}
.proshow_buy-btn{
    margin-top: 10px;
}
.content_list-btn{
    display: none;
}
.proshow_img-hot img{
    width: 40px;
}
.success_i{
    font-size: 1.4rem;
    margin-right: 6px;
}

.proshow_buy-btn{
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    justify-content: center;
}
.box_decs{
    margin-left: 36px;
    margin-right: 36px;
}

.box_login {
    margin: 0 auto!important;
    padding: 15px 20px 25px 20px !important;
    width: 80% !important;
}
.content_list-btn{
    display: none;
}
.form_search{
    display: none;
}
.box_search{
    justify-content: flex-end;
    margin-right: 36px;
}
.form_search{
    padding: 2px 4px!important;
}
.header_left{
    display: none;
}
.dropdown-menu{
    --bs-dropdown-link-active-bg: #e7e7e7b1;
}
.box_header-menu{
    display: block;
}
.nav{
    margin-bottom: 0;
}

.box_status-inline{
    padding: 4px 8px !important;
}

.form_search-mobilebtn{
    display: inline-flex!important;
}
.form_search-mobile{
    display: block;
}
.box_status .box_status-ul>li{
    font-size: 2.6rem;
}
.box_search{
    justify-content: flex-end;
    
}


.modal_share-box{
    padding: 2rem 4rem;
    padding-top: 3.4rem;
}
.share_close-btn{
    padding: 0;
}
.box_share-left{
    margin-bottom: 1rem;
}
.box_status-inline a{
    font-size: 1.8rem;
}

.dec_box-right{
    display: none;
}
.product_item .product_item-action{
    opacity: 1;
    transform: translateY(-10%);
    cursor: pointer;

}
.product_items{
    width: 100%;
}
}
/* tablet */
@media only screen and (min-width: 767px) and (max-width: 1023px) {

    html,
    body {
        font-size: 46.5%;
    }

    .box_header-menu{
        display: block;
    }

    .header_logo{
        display: none;
    }
    .box_search{
        justify-content: flex-end;
        margin-right: 36px;
    }
    .form_search{
        display: none;
    }
    .header_menu {
        display: none;
    }

    .header_language {
        display: none;
    }

    .menu_mobile {
        display: block;
    }

    .container_menu {
        margin: 0 60px;
    }

    .nav_box {
        left: 40px;
        bottom: 40px;
    }
    .form_register-box{
        padding: 20px 50px;
    }
    
    .proshow_img-hot img{
        width: 50px;
    }
    .product_item .product_item-action{
        opacity: 1;
        transform: translateY(-10%);
        cursor: pointer;
    
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1124px) {

    html,
    body {
        font-size: 50.5%;
    }

    .header_language{
        display: none;
    }
    .proshow_img-hot img{
        width: 70px;
    }

    .menu_mobile {
        display: block;
    }
    
}

/* desktop */
@media only screen and (min-width: 1124px) and (max-width: 1223px) {

    html,
    body {
        font-size: 56.5%;
    }

    .header_logo {}
    .header_language{
        display: none;
    }
    .proshow_img-hot img{
        width: 80px;
    }
}

@media (max-width: 568px){
    
    .product-checkboxs,
    .product-header{
    display: none;
   }
   .product-lists{
    display: flex;
    justify-content: flex-start;
   }
    }
