<div ng-controller="tintucDetailController" class="page-wrapper" style="min-height: 715px;">
  <div class="content">
      <div class="page-header">
          <div class="page-title">
              <h4>Thêm Tin Tức</h4>
          
          </div>
      </div>

      <div class="box_bannerpro row">

        <div class="box_newtime col-lg-12 col-md-12 col-sm-12">

          <div class="box_newtime-detail">

            <div class="box_newdetail-img" style="padding: 0;">
      
              <div class="row mb-3">
                <label class="form-label" style="">Tile</label>
                <input style="" type="text" ng-model="news.tile" class="form-control" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter your tile'"
                placeholder="Enter your tile">
              </div>

              <div class="mb-3 row">
                <div class="col-sm-2">
                  <label class="form-label" style="">Loại</label>
                </div>
                <div class="col-sm-10" style="display: flex;">
                  <div ng-repeat="option in options" class="form-check form-check-inline" style="display: flex; align-items: center; margin-right: 2rem;" >
                    <input ng-checked="isOptionSelected(option)" ng-model="news.category[option.id]"  style=" margin-right: 0.4rem;"  class="form-check-input" type="checkbox" id="inlineCheckbox{{option.id}}" value="{{option.id}}">
                    <label class="form-check-label"style="" for="inlineCheckbox{{option.id}}">{{option.text}}</label>
                  </div>
                </div>
                

              </div>
              
              <div class="row mb-3" style=" margin: 10px 0;">
                <div class="col-sm-2" style="padding-left: 0;">
                  <label for="inputText" class="col-sm-2 col-form-label" style="align-items: center;">Image</label>
                </div>
                <div class="col-sm-10" style="padding-right: 0;">
                  <div class="box_proavt-img" ng-repeat="(index, img) in news.avatar">
                    <div class="box_proavt-close" ng-click="deleteImgNews(index)">
                      <i class="fa fa-times" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-times" aria-label="fa fa-times"></i>
                    </div>
                    <img src="{{img}}" alt="img" style="width: 60px; height: 60px; object-fit: cover; margin-right: 2px;">
                  </div>
                  <div>
                    <div class="col-12">
                      <div ng-controller="uploadFile">
                        <input type="file" style="margin-top: 10px; " class="form-control" file-model="myFile"/>
                      </div>
                    
                    </div>
                  </div>
      
                </div>
              </div>
            </div>
      
            <div class="box_newdetail-dec" style="height: auto">
              <label class="form-label" style="font-size:1.4rem;">Content</label>
              <textarea style=" height: 500px" type="text" ng-model="news.dec"
                class="form-control" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter your Content'"
                placeholder="Enter your Content"></textarea>
            </div>
      
            <div class="row mb-3">
      
              <div class="col-sm-10">
                <button ng-click="saveNews()" style=" margin-top: 20px;" type="submit"
                  class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

