<div class="detail_sp containers">
    <div class="box_detail row">
        

        <div class="box_detail-img col-lg-6 col-md-6 col-sm-12">

            <div class="card">
                <div
                 class="card-body row">
                 <div class="box_detaillist-img col-2">
                    <div style="display: flex; flex-direction: column;">
                        <img style="width: 100%; object-fit: cover; margin: 0.4rem 0; cursor: pointer;" src="{{avt}}" alt="" ng-repeat="avt in product.avatar track by $index" 
                        ng-class="{'active': $index === 0}" data-bs-target="#carouselExampleIndicators" 
                        data-bs-slide-to="{{$index}}" aria-current="{{$index === 0 ? 'true' : 'false'}}" 
                        aria-label="Slide {{$index + 1}}">
        
                    </div>
                </div>
                    <!-- Slides with indicators -->
                    <div id="carouselExampleIndicators" class="carousel slide col-10" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button ng-repeat="avt in product.avatar track by $index"
                                ng-class="{'active': $index === 0}" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{$index}}"
                                aria-current="{{$index === 0 ? 'true' : 'false'}}" aria-label="Slide {{$index + 1}}">
                            </button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item" ng-repeat="avt in product.avatar track by $index"
                                ng-class="{'active': $index === 0}">
                                <img ng-src="{{avt}}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- End Slides with indicators -->
                </div>


            </div>


        </div>

        <div ng-controller="productAddBuyController" class="box_detail-dec col-lg-6 col-md-6 col-sm-12">

            <div class="detail_dec-box row">
                <div class="dec_box-left col-lg-6 col-md-6 col-sm-12">
                    <div class="detail_dec-tile">
                        <h2>{{product.name}}</h2>
                    </div>
                    <div class="detail_dec-evaluate">
                        <div class="dec_evaluate">
                            <div class="dec_evaluate-tile">
                                4.9
                            </div>
                            <div class="dec_evaluate-body">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>
                        </div>
                        <div class="dec_sold">
                            <span>1k</span>
                            Đã Bán
                        </div>
                    </div>
                    <div class="detail_dec-propoty">
                        <div class="detail_dec-item">
                            <div ng-repeat="tt in product.properties">
                                <i class="fa-solid fa-circle-check"></i>
                                <span class="ng-binding">{{tt}}</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="dec_box-right col-lg-6 col-md-6 col-sm-12">
                    <div class="dec_box-logo">
                        <div class="dec_box-logoimg">
                            <img src="/assets/image/logo/fou.png" alt="">
                        </div>
                        <div class="dec_box-tile">
                            <h4>Công ty cổ phần giống nông nghiệp <span>Trường Hương Hà Nội</span></h4>
                        </div>
                    </div>
                    <div class="dec_box-address">
                        <h4><i class="bi bi-geo-alt"></i> G10109 Vinhomes GreenBay</h4>
                    </div>
                    <div class="dec_box-phone">
                        <h4><i class="bi bi-telephone"></i> 0869696969</h4>
                    </div>
                    <div class="dec_box-tus">
                        <h4><i class="bi bi-shield-lock"></i> Nhà cung cấp đáng tin cấp</h4>
                    </div>
                    <div class="dec_box-tus">
                        <h4><i class="bi bi-truck"></i> Miễn phí giao hàng</h4>
                    </div>
                </div>

            </div>


            <div class="detail_dec-type">
                <div class="dec_type-tile">
                    Loại:
                </div>
                <div class="dec_type-rdo" ng-repeat="ctg in product.category">
                    <input type="radio" name="radioBtn" id="radioBtn{{ctg}}" checked>
                    <label for="radioBtn{{ctg}}">{{ctg}}</label>
                </div>
            </div>

            <div class="detail_dec-quantity">

                <div class="quantity-tile">
                    Số Lượng:
                </div>
                <div class="box_quantity">
                    <div class="input-group form-group mb-0">
                        <a class="scanner-set input-group-text" onclick="quantityInput(-1)">
                            <img src="assets/img/icons/minus.svg" alt="img">
                        </a>
                        <input type="text" value="1" class="calc-no input_quantity" id="input_quantity" >
                        <a class="scanner-set input-group-text" onclick="quantityInput(1)">
                            <img src="assets/img/icons/plus1.svg" alt="img">

                        </a>
                    </div>

                </div>

            </div>


            <div class="detail_dec-pice">
                <div>Giá Bán: <span>{{product.price | number}}đ</span></div>

            </div>


            <div class="detail_dec-cart">
                <button id="show-toast" ng-click="addCart(product)">
                    <i class="bi bi-cart-plus"></i>Thêm Giỏ Hàng
                </button>
                <button ng-click="buyProduct(product)">
                    Mua Ngay
                </button>

                <div class="detail_dec-share">
                    <div class="dec_share-btn">
                        <button onclick="modalShare()">
                            <span>Chia Sẻ</span><i class="bi bi-share"></i>
                        </button>
                    </div>
                    <div class="dec_share-icon">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-messenger"></i>
                        <i class="bi bi-twitter"></i>

                    </div>



                </div>
            </div>

        </div>
        <div class="box_detail-feed col-lg-6 col-md-6 col-sm-12">
            <div class="detail_feed-tile">
                <h2>MÔ TẢ SẢN PHẨM</h2>
            </div>
            <p style="white-space: pre-wrap;">
                {{product.description}}

            </p>

        </div>
        <div class="modal_sh hide">
            <div class="modal_share">

                <div class="modal_share-box row">
                    <div class="modal_share-close">
                        <div class="share_close-btn" onclick="modalShare()">
                            <i class="ri-close-fill"></i>
                        </div>
                    </div>
                    <div class="box_share-left col-lg-5 col-md-5 col-sm-12">
                        <div class="share_left-img">
                            <img ng-src="{{product.avatar[0]}}" alt="">
                        </div>
                        <div class="share_left-tile">
                            <h2> {{product.name}}</h2>
                        </div>
                        <div class="share_left-price">
                            <span> {{product.price | number}}</span>
                        </div>
                        <div class="share_left-dec">
                            {{product.description | limitTo : 200}}
                        </div>
                    </div>

                    <div class="box_share-right col-lg-7 col-md-7 col-sm-12">
                        <div class="share_right-url">

                            <div class="share_url">
                                <div class="share_url-tile">
                                    <h3>Copy URL</h3>
                                </div>
                                <div class="share_url-input">
                                    <input type="text" readonly id="copyText" value="{{currentURL}}">
                                    <button onclick="copyToClipboard()"><i class="ri-file-copy-line"></i></button>
                                </div>
                            </div>

                            <div class="share_mxh">
                                <div class="share_mxh-tile">
                                    <h3>Chia Sẻ Lên</h3>
                                </div>
                                <div class="share_mxh-icon">
                                    <a
                                        href="fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=123456789"><i
                                            class="bi bi-facebook"></i></a>


                                    <i class="bi bi-messenger"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-twitch"></i>
                                </div>
                            </div>

                            <div class="share_qr">
                                <div class="share_qr-tile">
                                    <h3>Chia Sẻ QR</h3>
                                </div>
                                <div class="share_qr-img">
                                    <img src="https://chart.apis.google.com/chart?cht=qr&chs=150x150&chl={{encodedUrlQR}}"
                                        alt="{{encodedUrlQR}}">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal_share-gay" onclick="modalShare()">

        </div>
    </div>