<div ng-controller="tintucController" class="containers box_bannerpro row" style="margin-top: 60px;">

    <div class="box_newtime-tile col-12">
        <h2>Tin Tức</h2>
    </div>
    <div class="box_new">
        <div class="trending-area fix">
            <div class="">
                <div class="trending-main">

                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Trending Top -->
                            <div class="trending-top mb-30">
                                <div class="trend-top-img">
                                    <a href="#/tin-tuc/{{lstTinTucHot[0].url}}">
                                        <img ng-src="{{lstTinTucHot[0].avatar[0]}}" alt="{{lstTinTucHot[0].tile}}">
                                    </a>
                                    <div class="trend-top-cap">
                                        <span>Nổi Bật</span>
                                        <h2><a href="#/tin-tuc/{{lstTinTucHot[0].url}}">{{lstTinTucHot[0].tile}}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <!-- Trending Bottom -->
                            <div class="trending-bottom">
                                <div class="row">
                                    <div class="col-lg-4" ng-repeat="ttHot in lstTinTucHot | limitTo:4"
                                        ng-if="$index > 0">
                                        <div class="single-bottom mb-35">
                                            <div class="trend-bottom-img mb-10">
                                                <a href="#/tin-tuc/{{ttHot.url}}">
                                                    <img ng-src="{{ttHot.avatar[0]}}" alt="">
                                                </a>
                                            </div>
                                            <div class="trend-bottom-cap">
                                                <span class="color3">Hot</span>
                                                <h4><a ng-href="#/tin-tuc/{{ttHot.url}}">{{ttHot.tile}}</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Riht content -->
                        <div class="col-lg-4">
                            <div class="trand-right-single d-flex"
                                ng-repeat="tt in lstTinTuc| orderBy:'-createdAt' | limitTo:5">
                                <div class="trand-right-img">
                                    <a href="#/tin-tuc/{{tt.url}}">
                                        <img ng-src="{{tt.avatar[0]}}" alt="">
                                    </a>
                                </div>
                                <div class="trand-right-cap">
                                    <span class="color3">Tin Tức</span>
                                    <h4><a ng-href="#/tin-tuc/{{tt.url}}">{{tt.tile}}</a></h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Tin tuc new -->
    <div class="weekly2-news-area  weekly2-pading gray-bg box_tintuc-new" >
        <div class="section-tittle mb-30">
            <h3>Tin Tức New</h3>
        </div>
        <div id="pagination-container" class="pagination-container">
            <div id="data-container" class="paginationjs"></div>
        </div>

        <div id="pagination-container-mobile" class="pagination-container-mobile">
            <div id="data-container-mobile" class="paginationjs data-container-mobile"></div>
        </div>
    </div>

<!-- Doanh Nghiep -->
    <div class="weekly2-news-area  weekly2-pading gray-bg box_tintuc-new">
        <div class="section-tittle mb-30">
            <h3>Doanh Nghiệp</h3>
        </div>
        <div id="pagination-container-business" class="pagination-container">
            <div id="data-container-business" class="paginationjs"></div>
        </div>
    
        <div id="pagination-container-mobile-business" class="pagination-container-mobile">
            <div id="data-container-mobile-business" class="paginationjs data-container-mobile"></div>
        </div>
    </div>

<!--  thị trường lúa gạo-->
<div class="weekly2-news-area  weekly2-pading gray-bg box_tintuc-new">
    <div class="section-tittle mb-30">
        <h3>Thị Trường Lúa Gạo</h3>
    </div>
    <div id="pagination-container-market" class="pagination-container">
        <div id="data-container-market" class="paginationjs"></div>
    </div>

    <div id="pagination-container-mobile-market" class="pagination-container-mobile">
        <div id="data-container-mobile-market" class="paginationjs data-container-mobile"></div>
    </div>
</div>

<!--  Khuyên Mại-->
<div class="weekly2-news-area  weekly2-pading gray-bg box_tintuc-new">
    <div class="section-tittle mb-30">
        <h3>Khuyến Mại</h3>
    </div>
    <div id="pagination-container-promotion" class="pagination-container">
        <div id="data-container-promotion" class="paginationjs"></div>
    </div>

    <div id="pagination-container-mobile-promotion" class="pagination-container-mobile">
        <div id="data-container-mobile-promotion" class="paginationjs data-container-mobile"></div>
    </div>
</div>
</div>

<div class="box_banners">
    <div class="banner_overray">
        <img src="https://res.cloudinary.com/dgxbxvkso/image/upload/v1699704030/x7s5lukzga6atdkxv6lc.png" alt="">
        <div class="banner_overray-dec">
            <h2>Trường Hương</h2>
            <span>Thành Công Hôm Nay Vững Bước Ngày Mai</span>
        </div>
    </div>

</div>